@import '/src/styles/styles.scss';

.CustomerListItem {
    @extend %flexCenter;
    margin: $mediumMargin 0;
    cursor: pointer;
    width: 100%;

    &__card {
        max-width: 30rem;
    }

    &__title {
        margin-top: $mediumMargin;
    }

    &__bodySection {
        display: block;
    }

    &__button {
        @extend %flexCenter;
    }
}

