@import '/src/styles/styles.scss';

.AppNavbar {
    &__link {
        color: $white;
        text-align: center;
        border-bottom: $border;
        padding: $smallPadding;

        @include respond-above(md) {
            margin-left: $mediumMargin;
            padding: 0;
            border: 0;
        }
    }
}